@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "Login Basic - Pages";
}

@model AspnetCoreMvcFull.Models.DTO.LoginDto

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl rightToLeft">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="/" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
              <span class="app-brand-text demo text-body fw-bold">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Welcome to @TempData.Peek("appName")! 👋</h4>
          <form id="formAuthentication" class="mb-3" asp-controller="Auth" asp-action="LoginBasic" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
              <label for="numero" asp-for="Numero" class="form-label">Numero</label>
              <input type="text" value="0340609099" asp-for="Numero" asp-items="ViewBag.Numero" class="form-control" id="numero" name="Numero" >
              <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>

          </form>
            <span class="error"  >
              @Html.ValidationSummary()
              </span>
          <p class="text-center">
            <span>New on our platform?</span>
            <a href="/Auth/RegisterBasic">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
