@model AspnetCoreMvcFull.Controllers.CsvDto

<div class="row">
  <div class="card mb-3">
    <h5 class="card-header">Upload csv</h5>
    @using (Html.BeginForm("Index", "Csv", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="card-body demo-vertical-spacing demo-only-element">
        <div class="input-group">
          <span asp-for="TargetTable" class="input-group-text" id="basic-addon11">Target table</span>
          <input asp-for="TargetTable" asp-items="ViewBag.TargetTable" type="text" class="form-control" name="TargetTable" placeholder="TargetTable" aria-label="TargetTable" aria-describedby="basic-addon11"/>
          <span asp-validation-for="TargetTable" class="alert alert-danger alert-dismissible">

          </span>
        </div>
        <div class="input-group">
          <input asp-for="Csv" type="file" name="Csv" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible">
        @Html.ValidationSummary()
      </div>
    }
  </div>

  <div class="card mb-3">
      <h5 class="card-header">Upload csv</h5>
      @using (Html.BeginForm("UploadFiles", "Csv", FormMethod.Post, new { enctype = "multipart/form-data" }))
      {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body demo-vertical-spacing demo-only-element">
          <div class="input-group">
            <span asp-for="TargetTable" class="input-group-text" id="basic-addon11">Target table</span>
            <input asp-for="TargetTable" asp-items="ViewBag.TargetTable" type="text" class="form-control" name="TargetTable" placeholder="TargetTable" aria-label="TargetTable" aria-describedby="basic-addon11"/>
          </div>
          <div class="input-group">
            <input asp-for="Csv" type="file" name="files" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple="">
            <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
          </div>
        </div>
      }
    </div>
</div>
