<div class="row">
  <div class="card">
    <h5 class="card-header">Upload csv</h5>
    @using (Html.BeginForm("UploadFile", "FormLayouts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
          <div class="card-body">
            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" name="file" type="file" id="formFile">
            </div>
          </div>
          <input type="submit" value="Upload"/>
        }
      </div>
</div>

    <h1>Multiple Files</h1>
    @using (Html.BeginForm("UploadFiles", "FormLayouts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="files" multiple/>
        <input type="submit" value="Upload"/>
    }
