@using AspnetCoreMvcFull.Models.Entities
@using Microsoft.AspNetCore.Http
@using System.Text.Json;

@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;

  string user = Context.Session.GetString("user");
  Utilisateur utilisateur = JsonSerializer.Deserialize<Utilisateur>(user);
  string m = null;
  string p = null;
  string d = null;

  try
  {
    m = Context.Session.GetString("M");
  }catch(Exception e){}

  try
  {
    p = Context.Session.GetString("P");
  }catch(Exception e){}

  try
  {
    d = Context.Session.GetString("D");
  }catch(Exception e){}
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    @if (utilisateur.Privilege > 0)
    {
      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div>Dashboard</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="AdminDashBoard" asp-action="Index" class="menu-link">
              <div>Analytics</div>
            </a>
          </li>
        </ul>
      </li>

      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
           <i class="menu-icon tf-icons bx bx-store"></i>
          <div>Devis</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Devis" asp-action="DevisEnCours" class="menu-link">
              <div>Devis en cours</div>
            </a>
          </li>
        </ul>
      </li>

      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-envelope"></i>
          <div>Database</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="DataBase" asp-action="Index" class="menu-link">
              <div>
                  Purge
              </div>
            </a>
          </li>
        </ul>
      </li>


      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-calendar"></i>
          <div>CSV</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Csv" asp-action="MaisonTravaux" class="menu-link">
              <div>Maison travaux</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Csv" asp-action="Devis" class="menu-link">
              <div>Devis</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Csv" asp-action="Paiement" class="menu-link">
              <div>Paiement</div>
            </a>
          </li>
          @if (p != null && d != null && m != null)
          {

          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
              <a asp-controller="Csv" asp-action="MultipleInsertTravaux" class="menu-link">
                <button class="btn-danger-sup">DO-IT</button>
              </a>
            </li>
          }
        </ul>

      </li>

      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div>Finition</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Finition" asp-action="Index" class="menu-link">
              <div>Liste</div>
            </a>
          </li>

        </ul>

      </li>
      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div>Prestation</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Prestation" asp-action="Index" class="menu-link">
              <div>Liste</div>
            </a>
          </li>

        </ul>

      </li>


    }
    else
    {
      <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-store"></i>
          <div>Devis</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Devis" asp-action="MesDevis" class="menu-link">
              <div>Mes devis</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
            <a asp-controller="Devis" asp-action="Create" class="menu-link">
              <div>Créer un nouveau devi</div>
            </a>
          </li>
        </ul>
      </li>
    }
  </ul>
  @* ! Full version menu-items *@
</aside>
<!-- / Menu -->
